on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Lint and format
        run: bunx biome ci --error-on-warnings

      - name: Run unit tests
        run: bun run test

      - name: Run e2e tests
        run: bun run test:e2e
